.dice-roll {
    .die {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: @paleBlueRose;
        width: 20px;
        height: 20px;
        border: 1px solid black;
        border-radius: 2px;
    }

    .die.drama {
        background-color: @blueRose;
        color: white;
    }
}
