.player-character {
    .player-main {
        display: flex;
        flex-flow: row nowrap;

        .abilities {
            padding-top: 2px;
            flex-basis: 175px;
            flex-grow: 0;
            flex-shrink: 0;

            .ability {
                background: @blueRose;
                display: block;
                padding: 3px;
                width: 100%;
                height: 45px;

                input {
                    border: none;
                    text-align: center;
                    background: white;
                    height: 30px;
                    width: 30px;
                }
            }
        }

        .content {
            flex-grow: 1;
            flex-shrink: 1;
        }
    }

    .list {
        width: 100%;
        input {
            margin: 2px 0;
        }
    }

    .relationship-table {
        width: 100%;
        display: grid;
        grid-template-columns: 2fr 1fr 4fr 20px;
        column-gap: 3px;
        row-gap: 4px;
        background: white;
        padding: 3px;

        .relationship-add {
            grid-column: 4;
            text-align: center;
        }
        .relationship-delete {
            text-align: center;
        }
    }
    .lined {
        @lineHeight: 20px;
        @superLine: @lineHeight + 1px;
        border: none;
        border-radius: 0;
        background: white;
        background-image: -webkit-linear-gradient(
            white @lineHeight,
            black @lineHeight,
            black @superLine,
            white @superLine
        );
        background-size: 100% @superLine;
        overflow: hidden;
        line-height: @superLine;
    }
}
